
	<br>
	<%= comment.user.email %>
	<%= comment.content %>
	<% if current_user == comment.user %>
		<%= link_to "X", comment, method: :delete, 
									  data: { confirm: "Are you sure you want to delete the comment?" } %>
		
	<% end %>
	
	
	<span class="grey-text">
		 · <%= time_ago_in_words(comment.created_at) %>
	</span>

	<br>
	<br>
	<br>
</div>