<h1>Update your profile</h1>

<div >
  <div >
  <%= form_for current_user ,controller:"users",action:"update", method:"PATCH" do |f| %>
    

      <%= f.label :picture %>
      <%= f.file_field :picture %><br><br>

      <%= f.submit "Save changes" %>
    <% end %>

  </div>
</div>