<div id="navigation-bar">
<% if user_signed_in? %>
  Wellcome <strong> <%= current_user.email  %> </strong>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up",new_user_registration_path %>
<% end %>
</div>